<!DOCTYPE html>
<html>
  <head>
    <title>The Newest Latest</title>
    <meta charset="utf-8" />
    <meta name="description" value="Feed of brand new work from the web’s favourite makers." />
  </head>
  <body>
    <h1>The Newest Latest</h1>
    <h2>Feed of brand new work from the web’s favourite makers.</h2>
  </body>
</html>
